/*
	cursor: pointer;
*/

.productItem div{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.productItem h1,

.productItem p {
	margin-left: 20px;
}

@media only screen and (max-width 1300px) {
	.menuList {
		grid-template-columns: 1fr 1 fr;
	}
}

.product {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product .productTitle {
	font-family: Arial;
	font-size: 60px;
}

.productList {
	width: 70px;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
}

/* PRODUCT ITEM STYLING */

.productItem {
	border-radius: 15px;
	width: 300px;
	height: 350px;
	margin: 20px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.productItem:hover {

}